body{
  font-family: "Helvetica Neue";
}

#app-container{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 4px black solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

h1{
font-weight: 500;
margin-bottom: 2px;
  }


h2{
  color:tomato;
  font-weight: 200;
  margin-top: 0;
}

.header_content img{
  display: block;
  width: 100%;
}

.desc-exhibit{
  font-size: 21px;
}

.desc-sponsors{
  font-size: 14px;
}

.desc-sponsors img{
  width: 120px;
}

.footer p{
  font-size:10px;
}
.footer img{
  width: 700px;
}
